<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Example</title>
    <style>
        .cont{
            width:350px;
            border:0px;
            margin: auto;
        }
        .prag{
            margin: auto;
            padding: 5px;
            font-family:serif;
            text-align: justify;
            padding-top: 10px;
        }
        .hadding{
            margin: auto;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        }
    </style>
</head>
<body>
    <div class="cont">

    {% for articles in articles %}
 <h1 class="hadding">{{ articles.title }}</h1>
<p class="prag">{{ articles.content }}</p>
<img src="{{ articles.urlToImage }}" width="300px">
    <hr>
    {% endfor %}
</div>
</body>
</html>